@tailwind base;
@tailwind components;
@tailwind utilities;

[data-aos="fade-up"] {
  transform: translateY(15px); /* 이동 범위를 줄임 */
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 700ms;
  transition-timing-function: ease-out;
}

[data-aos="fade-up"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}
